/* Genel Sayfa */
body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f0a2d2, #f1f1f1);
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.5s, color 0.5s;
}

#container {
    width: 60%;
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Koyu Mod */
body.dark-mode {
    background: #2b2b2b;
    color: white;
}

body.dark-mode #container {
    background: #333;
}

body.dark-mode h3 {
    background-color: #aa6cc8;
    color: #fff;
}

body.dark-mode .job {
    background: #4d3b54;
    color: #eee;
}

body.dark-mode .profile-pic {
    border: 4px solid #aa6cc8;
}

/* Başlık */
#header {
    text-align: center;
    color: #810f55;
}

.name {
    color: #333;
    font-size: 28px;
    margin-bottom: 5px;
}

.title {
    color: #777;
    font-size: 20px;
}

.profile-pic {
    width: 140px;
    height: 150px;
    border-radius: 10px;
    margin: 10px 0;
    border: 3px solid #810f55;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Koyu Mod Butonu */
.dark-mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #73144f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

.dark-mode-toggle:hover {
    background-color: #aa6cc8;
}

/* Bölüm Başlıkları */
h3 {
    background-color: #73144f;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

hr {
    border: 3px solid #000000;
    margin: 20px 0;
}

/* İçerik Bölümleri */
#about, #contact, #education, #skills, #experience {
    margin-bottom: 20px;
}

ul {
    list-style-type:circle;
    padding-left: 20px;
}

.job {
    background: #f9f9f9;
    padding: 10px;
    background-color: #eca6d1;
    border-left: 5px solid ;
    margin-bottom: 10px;
    border-radius: 5px;
}

#clock {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

/* Form Bölümü */
#contactForm input, #contactForm textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contactForm button {
    padding: 10px 20px;
    background-color: #73144f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contactForm button:hover {
    background-color: #aa6cc8;
}

#responseMessage {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
